# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# 忽略env目录下的所有文件
/env/*
# 不忽略env目录下的.env.example和env.d.ts文件
!/env/.env.example
!/env/env.d.ts
# 忽略dist目录下的所有文件
/dist/*

interview.md
project-interview.md
*.tsbuildinfo
