#root {
  --qq-spacing-small: 4px;
  --qq-spacing-medium: 8px;
  --qq-spacing-large: 16px;
}

html.light {
  --qq-background: #fff;
  --qq-foreground: #000;
}

html.dark {
  --qq-background: #000;
  --qq-foreground: #fff;
}

html,
body,
#app {
  height: 100%;
}
