@import url('//at.alicdn.com/t/font_8d5l8fzk5b87iudi.css');
:root {
  --spacing: 8px;
  --spacing-small: 4px;
  --spacing-middle: 16px;
  --spacing-large: 24px;
  --font-size: 14px;
  --font-size-small: 12px;
  --font-size-middle: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-weight-bolder: 600;
  --font-weight-black: 700;
  --font-weight-extrabold: 800;
  --font-weight-extrablack: 900;
}
:root {
  --color-primary: #04c9be;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.flex-1 {
  flex: 1;
}
.nowrap {
  white-space: nowrap;
}
.cursor-pointer {
  cursor: pointer;
}
html,
body,
#app {
  height: 100%;
}
/* stylelint-disable */
html,
body {
  width: 100%;
  height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
}
[tabindex='-1']:focus {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
abbr[title],
abbr[data-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit;
}
input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  -webkit-appearance: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1em;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
pre,
code,
kbd,
samp {
  font-size: 1em;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
}
figure {
  margin: 0 0 1em;
}
img {
  vertical-align: middle;
  border-style: none;
}
a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75em;
  padding-bottom: 0.3em;
  text-align: left;
  caption-side: bottom;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  color: inherit;
  font-size: 1.5em;
  line-height: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
mark {
  padding: 0.2em;
  background-color: #feffe6;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.layout-content[data-v-01097c41] {
  position: relative;
  padding: 24px 16px;
  min-height: auto;
  background-color: var(--19441d98);
}
.fade-enter-active[data-v-01097c41],
.fade-leave-active[data-v-01097c41] {
  transition: opacity 0.5s ease;
}
.fade-enter-from[data-v-01097c41],
.fade-leave-to[data-v-01097c41] {
  opacity: 0;
}
.user__username[data-v-dfe23614] {
  color: var(--83c19120);
}
.layout-header[data-v-3f95218b] {
  padding-inline: 16px;
  background-color: var(--6abec788);
  border-bottom: 1px solid var(--f845e5b0);
}
.layout-header__collapsed-icon[data-v-3f95218b] {
  color: var(--2f9356ad);
}
.logo-container[data-v-7fbc52b9] {
  display: flex;
  justify-content: center;
  padding-block: var(--spacing-small);
  padding-top: var(--spacing-middle);
}
.logo-container .logo[data-v-7fbc52b9] {
  width: 100%;
  max-height: 50px;
  height: auto;
}
.layout-sider[data-v-da2f32ad] {
  background-color: var(--12d09652);
}
.layout-sider__menu[data-v-da2f32ad] {
  background-color: var(--12d09652);
}
.layout__default[data-v-e2d730fb] {
  height: 100%;
  background-color: var(--33cec7bd);
}
.layout__main[data-v-e2d730fb] {
  overflow-y: scroll;
}
.layout__header[data-v-e2d730fb] {
  padding-inline: var(--spacing-large);
}
.attendance__top[data-v-e72160cb] {
  width: 100%;
  padding: var(--1da2b90a);
  background-color: var(--99a89424);
  border-radius: var(--52544120);
  border: 1px solid var(--ce00044c);
}
.attendance__top__title[data-v-e72160cb] {
  font-size: var(--0a8336b2);
}
.attendance__top__total[data-v-e72160cb] {
  font-size: var(--1f43d3ab);
}
.attendance__middle[data-v-e72160cb] {
  padding-block: var(--1da2b90a);
  padding-inline: calc(var(--1da2b90a) * 2);
  background-color: var(--99a89424);
  border-radius: var(--52544120);
  border: 1px solid var(--ce00044c);
}
.attendance__middle__label[data-v-e72160cb] {
  min-width: max-content;
}
.attendance__middle__checkbox-group[data-v-e72160cb] {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: repeat(auto-fill, 30px);
  gap: var(--26f77cc0);
}
.attendance__table[data-v-e72160cb] {
  height: 100%;
  padding: var(--1da2b90a);
  background-color: var(--99a89424);
  overflow: auto;
  border-radius: var(--52544120);
  border: 1px solid var(--ce00044c);
}
.attendance__scope__right[data-v-e72160cb] {
  height: 100%;
  min-width: 300px;
}
.attendance__scope__right[data-v-e72160cb] .table-striped td {
  background-color: var(--2fda0c9d);
}
.panel[data-v-cc73f7a2] {
  padding: var(--4509afaf);
  background: var(--0706c222);
  border-radius: var(--023cb56c);
  border: 1px solid var(--3351d00e);
  transition: border-color 0.3s;
}
.panel[data-v-cc73f7a2]:hover {
  border-color: var(--14359568);
}
.panel__title[data-v-cc73f7a2] {
  font-size: var(--3209b0fe);
}
.declare[data-v-38327055] {
  width: 200px;
}
.declare__total[data-v-38327055] {
  margin: 0;
  font-size: var(--3dde96b4);
  padding-bottom: var(--76959bb3);
  color: var(--48d8e232);
}
.declare__info[data-v-38327055] {
  background-color: var(--d88437be);
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--76959bb3);
}
.declare__info__item[data-v-38327055] {
  min-width: 36%;
}
.declare__info__item__total[data-v-38327055] {
  font-size: var(--3dde96b4);
}
.help-link-item[data-v-0883f396] {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: var(--7b1f58e3);
  padding-inline: var(--7b1f58e3);
  background-color: var(--60adb4da);
  border-radius: var(--0aa6079d);
  border: 1px solid var(--0a4cf3bd);
  transition: border-color 0.3s;
}
.help-link-item[data-v-0883f396]:hover {
  border-color: var(--9e7ad912);
}
.dashboard__info[data-v-fbec23db] {
  padding: var(--e224d06c);
  background-color: var(--50eaaa3d);
  border-radius: var(--fec6b39e);
  border: 1px solid var(--cb039aae);
  transition: border-color 0.3s;
}
.dashboard__info[data-v-fbec23db]:hover {
  border-color: var(--ef2079fa);
}
.dashboard__info__name[data-v-fbec23db] {
  font-size: var(--24a2cc43);
}
.dashboard__info__secondary[data-v-fbec23db] {
  font-size: var(--196f3788);
  white-space: nowrap;
}
.dashboard__todo__wrapper[data-v-fbec23db] {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 80px);
  justify-content: space-between;
  gap: var(--7f2f323a);
}
.dashboard__todo__item[data-v-fbec23db] {
  width: max-content;
}
.dashboard__todo__title[data-v-fbec23db] {
  font-size: var(--196f3788);
}
.dashboard__todo__total[data-v-fbec23db] {
  width: min-content;
  padding-top: var(--376f040c);
  font-size: var(--1c961099);
}
.notification-item[data-v-65e698b9] {
  padding-block: var(--2bbe7b5c);
}
.dashboard__left[data-v-498a0049] {
  min-width: 600px;
  flex: 1;
}
.dashboard__right[data-v-498a0049] {
  max-width: 600px;
}
.dashboard__help-link[data-v-498a0049] {
  min-width: 280px;
}
.dashboard__calendar[data-v-498a0049] {
  min-width: 280px;
  border-radius: var(--16d0b852);
  border: 1px solid var(--d40c2f7a);
  transition: border-color 0.3s;
}
.dashboard__calendar[data-v-498a0049]:hover {
  border-color: var(--e3c09ac6);
}
.dashboard__calendar__inner[data-v-498a0049] {
  height: 100%;
  padding-inline: var(--1dff82c0);
  padding-block: var(--55882a64);
}
.department__wrapper[data-v-eac30cdf] {
  height: 100%;
  padding-block: var(--69d1a064);
  padding-inline: 15%;
  background-color: var(--743b1625);
  border-radius: var(--11bb6b49);
  border: 1px solid var(--f3332ade);
}
.department__tree[data-v-eac30cdf] {
  max-width: 60%;
}
[data-v-eac30cdf] .ant-tree-treenode {
  padding-block: var(--2b058f12);
}
[data-v-eac30cdf] .ant-tree-node-content-wrapper {
  border: 1px solid transparent;
  transition: border-color 0.3s;
  background-color: var(--2e253117) !important;
}
[data-v-eac30cdf] .ant-tree-node-content-wrapper:hover {
  border-color: var(--7051a9e0);
}
[data-v-81353ca5] .ant-spin-container {
  height: 100%;
}
.employee__wrapper[data-v-81353ca5] {
  border-radius: var(--ab3b1baa);
  border: 1px solid var(--0731ff6f);
}
.employee__left[data-v-81353ca5] {
  max-width: 280px;
  padding: var(--033a90e0);
  background-color: var(--7f406bfa);
}
.employee__left[data-v-81353ca5] .ant-tree-node-content-wrapper {
  border: 1px solid transparent;
  transition: border-color 0.3s;
  background-color: var(--6696f8f9) !important;
}
.employee__left[data-v-81353ca5] .ant-tree-node-content-wrapper:hover {
  border-color: var(--762dfa42);
}
.employee__right[data-v-81353ca5] {
  flex: 1;
}
.employee__right__actions[data-v-81353ca5] {
  padding: var(--033a90e0);
  background-color: var(--7f406bfa);
}
.employee__right__table[data-v-81353ca5] {
  padding: var(--033a90e0);
  background-color: var(--7f406bfa);
}
.employee__right__table .table-header-title[data-v-81353ca5] {
  white-space: nowrap;
}
.detail__wrapper[data-v-1534bec2] {
  padding: var(--436493b0);
  background-color: var(--bf6a6eca);
}
.detail__form[data-v-1534bec2] {
  min-width: 500px;
}
.permission__wrapper[data-v-7f6db6a8] {
  padding: var(--46d9ed0e);
  background-color: var(--c2dfc828);
  border-radius: var(--1f542c3c);
  border: 1px solid var(--60b59650);
}
.permission__table[data-v-7f6db6a8] {
  height: 100%;
}
.permission__table[data-v-7f6db6a8] .ant-spin-nested-loading {
  height: 100%;
}
.permission__table[data-v-7f6db6a8] .ant-spin-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.permission__table[data-v-7f6db6a8] .ant-table {
  flex: 1;
}
.role__wrapper[data-v-b48bfc6a] {
  height: 100%;
  padding: var(--288a8ad5);
  background-color: var(--2af0c570);
  border-radius: var(--44e4e206);
  border: 1px solid var(--6704a834);
}
.hero[data-v-7d0e3b65] {
  position: relative;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.hero__img[data-v-7d0e3b65] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.qrcode__form[data-v-2cee7779] {
  padding: 20px 0;
}
.qrcode__wrapper[data-v-2cee7779] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.qrcode__tip[data-v-2cee7779] {
  margin-top: 16px;
  color: #666;
  font-size: 14px;
}
.sign-in[data-v-1df84bc5] {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--11d56c69);
}
.sign-in__form-component[data-v-1df84bc5] {
  min-height: 300px;
}
.sign-in__hero[data-v-1df84bc5] {
  flex: 2;
  height: 100%;
}
.sign-in__form[data-v-1df84bc5] {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 160px;
  overflow: auto;
}
.sign-in__form__wrapper[data-v-1df84bc5] {
  width: 100%;
  max-width: 330px;
}
.sign-in__form__title[data-v-1df84bc5] {
  margin-bottom: 40px;
}
.sign-in__form__footer[data-v-1df84bc5] {
  margin-top: 24px;
  text-align: center;
}
.sign-in__form__footer a[data-v-1df84bc5] {
  color: #1890ff;
  cursor: pointer;
}
.sign-in__form__footer a[data-v-1df84bc5]:hover {
  color: #40a9ff;
}
@media screen and (max-width: 768px) {
.sign-in__hero[data-v-1df84bc5] {
    display: none;
}
.sign-in__form[data-v-1df84bc5] {
    width: 100%;
    padding: 0 20px;
}
}
.vue-cropper[data-v-a742df44]{position:relative;width:100%;height:100%;box-sizing:border-box;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;direction:ltr;touch-action:none;text-align:left;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC)}.cropper-box[data-v-a742df44],.cropper-box-canvas[data-v-a742df44],.cropper-drag-box[data-v-a742df44],.cropper-crop-box[data-v-a742df44],.cropper-face[data-v-a742df44]{position:absolute;top:0;right:0;bottom:0;left:0;-webkit-user-select:none;user-select:none}.cropper-box-canvas img[data-v-a742df44]{position:relative;text-align:left;-webkit-user-select:none;user-select:none;transform:none;max-width:none;max-height:none}.cropper-box[data-v-a742df44]{overflow:hidden}.cropper-move[data-v-a742df44]{cursor:move}.cropper-crop[data-v-a742df44]{cursor:crosshair}.cropper-modal[data-v-a742df44]{background:rgba(0,0,0,.5)}.cropper-view-box[data-v-a742df44]{display:block;overflow:hidden;width:100%;height:100%;outline:1px solid #39f;outline-color:#3399ffbf;-webkit-user-select:none;user-select:none}.cropper-view-box img[data-v-a742df44]{-webkit-user-select:none;user-select:none;text-align:left;max-width:none;max-height:none}.cropper-face[data-v-a742df44]{top:0;left:0;background-color:#fff;opacity:.1}.crop-info[data-v-a742df44]{position:absolute;left:0;min-width:65px;text-align:center;color:#fff;line-height:20px;background-color:#000c;font-size:12px}.crop-line[data-v-a742df44]{position:absolute;display:block;width:100%;height:100%;opacity:.1}.line-w[data-v-a742df44]{top:-3px;left:0;height:5px;cursor:n-resize}.line-a[data-v-a742df44]{top:0;left:-3px;width:5px;cursor:w-resize}.line-s[data-v-a742df44]{bottom:-3px;left:0;height:5px;cursor:s-resize}.line-d[data-v-a742df44]{top:0;right:-3px;width:5px;cursor:e-resize}.crop-point[data-v-a742df44]{position:absolute;width:8px;height:8px;opacity:.75;background-color:#39f;border-radius:100%}.point1[data-v-a742df44]{top:-4px;left:-4px;cursor:nw-resize}.point2[data-v-a742df44]{top:-5px;left:50%;margin-left:-3px;cursor:n-resize}.point3[data-v-a742df44]{top:-4px;right:-4px;cursor:ne-resize}.point4[data-v-a742df44]{top:50%;left:-4px;margin-top:-3px;cursor:w-resize}.point5[data-v-a742df44]{top:50%;right:-4px;margin-top:-3px;cursor:e-resize}.point6[data-v-a742df44]{bottom:-5px;left:-4px;cursor:sw-resize}.point7[data-v-a742df44]{bottom:-5px;left:50%;margin-left:-3px;cursor:s-resize}.point8[data-v-a742df44]{bottom:-5px;right:-4px;cursor:se-resize}@media screen and (max-width: 500px){.crop-point[data-v-a742df44]{position:absolute;width:20px;height:20px;opacity:.45;background-color:#39f;border-radius:100%}.point1[data-v-a742df44]{top:-10px;left:-10px}.point2[data-v-a742df44],.point4[data-v-a742df44],.point5[data-v-a742df44],.point7[data-v-a742df44]{display:none}.point3[data-v-a742df44]{top:-10px;right:-10px}.point4[data-v-a742df44]{top:0;left:0}.point6[data-v-a742df44]{bottom:-10px;left:-10px}.point8[data-v-a742df44]{bottom:-10px;right:-10px}}
.avatar__upload__wrapper[data-v-22bfd6f0] {
  height: 360px;
}
.avatar__upload__cropper[data-v-22bfd6f0] {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}
.avatar__upload__cropper[data-v-22bfd6f0] .ant-spin-container {
  height: 100%;
}
.avatar__upload__preview[data-v-22bfd6f0] {
  padding-inline-end: var(--spacing-large);
}
.avatar__upload__preview__img[data-v-22bfd6f0] {
  height: 200px;
  width: 200px;
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
}
[data-v-22bfd6f0] .cropper-view-box {
  outline: 1px solid #1890ff;
}
[data-v-22bfd6f0] .cropper-point {
  background-color: #1890ff;
}
[data-v-22bfd6f0] .ant-image {
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.deduction__text[data-v-2860b786] {
  min-width: max-content;
}
.deduction__content[data-v-2860b786] .ant-form-item-row {
  display: flex;
  justify-content: center;
}
.overtime__wrapper[data-v-7d817b9d] {
  display: flex;
  width: 100%;
}
.overtime__input[data-v-7d817b9d] {
  min-width: 100px;
}
.attendance-status[data-v-93efe109] {
  padding: 24px;
}
.attendance-status .status-note[data-v-93efe109] {
  color: #ff4d4f;
  margin-bottom: 16px;
}
.attendance-status .attendance-status-radio-list[data-v-93efe109] {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-middle);
}
.attendance-scope__company-list[data-v-9e5a1437] {
  height: 100%;
  overflow-y: scroll;
}
.attendance-scope__company-list__inner[data-v-9e5a1437] {
  border-radius: var(--0b6b676b);
}
.attendance-scope__right[data-v-9e5a1437] {
  height: 100%;
  min-width: 300px;
}
.attendance-scope__right[data-v-9e5a1437] .table-striped td {
  background-color: var(--373ae67a);
}
.department-modal[data-v-4e884d9b] {
  padding: var(--spacing-large);
}
.modal-content[data-v-21a6f2d1] {
  padding: var(--spacing-middle);
}
.import__wrapper[data-v-7701c7fb] {
  padding: var(--spacing-large);
}
.import__click[data-v-7701c7fb] {
  padding-top: var(--spacing-middle);
}
.mass-selected-employee[data-v-ebf51210] {
  margin-bottom: var(--48169593);
  padding: var(--24d86562);
  border: 1px solid var(--3cedef58);
  border-radius: var(--74c68384);
}
.permission__form[data-v-c2f25a05] {
  margin-block: var(--73032a2e);
  padding: var(--516a68fd);
  border-radius: var(--30fcc644);
  background-color: var(--13677b70);
}
.add-role-modal-wrapper[data-v-6091eb86] {
  margin-block: var(--5341a126);
  padding: var(--598f0b9e);
  border-radius: var(--4ca31246);
  background-color: var(--1b8c1e11);
}
.permission-modal-wrapper[data-v-f65464f7] {
  margin-block: var(--ae5d4188);
  padding: var(--553a54a2);
  border-radius: var(--cca96128);
  background-color: var(--d1402fbc);
}
